In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df= pd.read_csv('Superstore_sales.csv',na_values=['Missing','n/a','N/A','NA',''])

In [7]:
train = df.sample(frac=0.8,random_state=123)
train

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
5628,5629,CA-2018-148810,26/06/2018,01/07/2018,Standard Class,DR-12880,Dan Reichenbach,Corporate,United States,Miami,Florida,33180.0,South,FUR-CH-10001545,Furniture,Chairs,Hon Comfortask Task/Swivel Chairs,273.552
1131,1132,CA-2017-112102,12/04/2017,16/04/2017,Standard Class,BD-11605,Brian Dahlen,Consumer,United States,Springfield,Virginia,22153.0,South,OFF-EN-10002500,Office Supplies,Envelopes,Globe Weis Peel & Seel First Class Envelopes,63.900
6041,6042,CA-2018-122364,24/09/2018,29/09/2018,Standard Class,FA-14230,Frank Atkinson,Corporate,United States,Los Angeles,California,90008.0,West,TEC-MA-10001031,Technology,Machines,Socket Bluetooth Cordless Hand Scanner (CHS),506.280
1967,1968,CA-2018-165841,21/12/2018,28/12/2018,Standard Class,DB-13210,Dean Braden,Consumer,United States,Paterson,New Jersey,7501.0,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,69.500
5253,5254,US-2015-131982,07/03/2015,11/03/2015,Second Class,NP-18685,Nora Pelletier,Home Office,United States,Des Moines,Washington,98198.0,West,OFF-BI-10004224,Office Supplies,Binders,Catalog Binders with Expanding Posts,107.648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5396,5397,US-2017-147340,24/09/2017,24/09/2017,Same Day,EB-13750,Edward Becker,Corporate,United States,San Francisco,California,94110.0,West,FUR-FU-10002501,Furniture,Furnishings,Nu-Dell Executive Frame,63.200
8456,8457,US-2018-118556,28/05/2018,02/06/2018,Second Class,TH-21235,Tiffany House,Corporate,United States,Chicago,Illinois,60653.0,Central,FUR-CH-10001146,Furniture,Chairs,"Global Task Chair, Black",106.869
660,661,CA-2016-146563,24/08/2016,28/08/2016,Standard Class,CB-12025,Cassandra Brandow,Consumer,United States,Arlington,Texas,76017.0,Central,OFF-ST-10001511,Office Supplies,Storage,Space Solutions Commercial Steel Shelving,724.080
401,402,CA-2017-108987,08/09/2017,10/09/2017,Second Class,AG-10675,Anna Gayman,Consumer,United States,Houston,Texas,77036.0,Central,TEC-AC-10000158,Technology,Accessories,Sony 64GB Class 10 Micro SDHC R40 Memory Card,57.584
1327,1328,CA-2017-128258,30/03/2017,01/04/2017,First Class,CP-12085,Cathy Prescott,Corporate,United States,Norwich,Connecticut,6360.0,East,OFF-PA-10004156,Office Supplies,Paper,Xerox 188,11.340

In [8]:
train.columns.unique()

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales'],
      dtype='object')

In [12]:
train['Ship Mode'].unique()

array(['Standard Class', 'Second Class', 'First Class', 'Same Day'],
      dtype=object)

In [13]:
def ship_mode(x):
    if x=='Standard Class':
        return 0
    elif x=='Second Class':
        return 1
    elif x=='First Class':
        return 2
    if x=='Same Day':
        return 4

In [14]:
train['shipmode_bkt']= train['Ship Mode'].map(ship_mode)

In [16]:
train['shipmode_bkt'].head()

5628    0
1131    0
6041    0
1967    0
5253    1
Name: shipmode_bkt, dtype: int64

In [19]:
pd.crosstab(train['Sales'],train['shipmode_bkt'],margins=True)/train.shape[0]

shipmode_bkt         0         1         2         4       All
Sales
0.444         0.000128  0.000000  0.000000  0.000000  0.000128
0.556         0.000000  0.000000  0.000000  0.000128  0.000128
0.836         0.000128  0.000000  0.000000  0.000000  0.000128
0.852         0.000000  0.000000  0.000000  0.000128  0.000128
0.876         0.000000  0.000000  0.000000  0.000128  0.000128
...                ...       ...       ...       ...       ...
10499.97      0.000128  0.000000  0.000000  0.000000  0.000128
13999.96      0.000000  0.000000  0.000128  0.000000  0.000128
17499.95      0.000128  0.000000  0.000000  0.000000  0.000128
22638.48      0.000128  0.000000  0.000000  0.000000  0.000128
All           0.597577  0.195281  0.151786  0.055357  1.000000

[4920 rows x 5 columns]

In [20]:
train['Segment'].unique()

array(['Corporate', 'Consumer', 'Home Office'], dtype=object)

In [22]:
def seg_mode(x):
    if x=='Corporate':
        return 0
    elif x=='Consumer':
        return 1
    elif x=='Home Office':
        return 2

In [23]:
train['segment_bkt']=train['Segment'].map(seg_mode)

In [25]:
train['segment_bkt'].head()

5628    0
1131    1
6041    0
1967    1
5253    2
Name: segment_bkt, dtype: int64

In [26]:
train.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,shipmode_bkt,segment_bkt
5628,5629,CA-2018-148810,26/06/2018,01/07/2018,Standard Class,DR-12880,Dan Reichenbach,Corporate,United States,Miami,Florida,33180.0,South,FUR-CH-10001545,Furniture,Chairs,Hon Comfortask Task/Swivel Chairs,273.552,0,0
1131,1132,CA-2017-112102,12/04/2017,16/04/2017,Standard Class,BD-11605,Brian Dahlen,Consumer,United States,Springfield,Virginia,22153.0,South,OFF-EN-10002500,Office Supplies,Envelopes,Globe Weis Peel & Seel First Class Envelopes,63.900,0,1
6041,6042,CA-2018-122364,24/09/2018,29/09/2018,Standard Class,FA-14230,Frank Atkinson,Corporate,United States,Los Angeles,California,90008.0,West,TEC-MA-10001031,Technology,Machines,Socket Bluetooth Cordless Hand Scanner (CHS),506.280,0,0
1967,1968,CA-2018-165841,21/12/2018,28/12/2018,Standard Class,DB-13210,Dean Braden,Consumer,United States,Paterson,New Jersey,7501.0,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,69.500,0,1
5253,5254,US-2015-131982,07/03/2015,11/03/2015,Second Class,NP-18685,Nora Pelletier,Home Office,United States,Des Moines,Washington,98198.0,West,OFF-BI-10004224,Office Supplies,Binders,Catalog Binders with Expanding Posts,107.648,1,2

In [29]:
train['Region'].unique()

array(['South', 'West', 'East', 'Central'], dtype=object)

In [31]:
def state(x):
    if x=='South':
        return 0
    elif x=='West':
        return 1
    elif x=='East':
        return 2
    if x=='Central':
        return 4

In [36]:
train['region_bkt']= train['Region'].map(state)

In [37]:
train['region_bkt'].head()

5628    0
1131    0
6041    1
1967    2
5253    1
Name: region_bkt, dtype: int64

In [38]:
train.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
shipmode_bkt      0
segment_bkt       0
state_bkt         0
region_bkt        0
dtype: int64

In [43]:
train['Country'].unique()

array(['United States'], dtype=object)

In [52]:
train['Sub-Category'].unique()

array(['Chairs', 'Envelopes', 'Machines', 'Supplies', 'Binders', 'Paper',
       'Accessories', 'Fasteners', 'Furnishings', 'Art', 'Phones',
       'Storage', 'Labels', 'Appliances', 'Copiers', 'Bookcases',
       'Tables'], dtype=object)

In [49]:
def category(x):
    if x=='Furniture':
        return 0
    elif x=='Office Supplies':
        return 1
    elif x=='Technology':
        return 2

In [51]:
train['category_bkt']= train['Category'].map(category)
train['category_bkt'].head()

5628    0
1131    1
6041    2
1967    1
5253    1
Name: category_bkt, dtype: int64

In [57]:
train.drop(columns=['state_bkt','Row ID','Order ID','Customer ID','Customer Name','Country','Product ID','Product Name','Segment','Category','Region','Postal Code'],axis=1)

,Order Date,Ship Date,Ship Mode,City,State,Sub-Category,Sales,shipmode_bkt,segment_bkt,region_bkt,category_bkt
5628,26/06/2018,01/07/2018,Standard Class,Miami,Florida,Chairs,273.552,0,0,0,0
1131,12/04/2017,16/04/2017,Standard Class,Springfield,Virginia,Envelopes,63.900,0,1,0,1
6041,24/09/2018,29/09/2018,Standard Class,Los Angeles,California,Machines,506.280,0,0,1,2
1967,21/12/2018,28/12/2018,Standard Class,Paterson,New Jersey,Supplies,69.500,0,1,2,1
5253,07/03/2015,11/03/2015,Second Class,Des Moines,Washington,Binders,107.648,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...
5396,24/09/2017,24/09/2017,Same Day,San Francisco,California,Furnishings,63.200,4,0,1,0
8456,28/05/2018,02/06/2018,Second Class,Chicago,Illinois,Chairs,106.869,1,0,4,0
660,24/08/2016,28/08/2016,Standard Class,Arlington,Texas,Storage,724.080,0,1,4,1
401,08/09/2017,10/09/2017,Second Class,Houston,Texas,Accessories,57.584,1,1,4,2
1327,30/03/2017,01/04/2017,First Class,Norwich,Connecticut,Paper,11.340,2,0,2,1